/** Colors
*******************************************************************************/
$color-primary-base: #4e5810;
$color-primary-dark: darken($color-primary-base, 5%);
$color-primary-light: lighten($color-primary-base, 8%);

$color-secondary-base: #7e420e;
$color-secondary-dark: darken($color-secondary-base, 8%);
$color-secondary-light: lighten($color-secondary-base, 8%);

$color-third-base: #992159;
$color-third-dark: darken($color-third-base, 8%);
$color-third-light: lighten($color-third-base, 8%);

$color-black-dark: #111;
$color-black-base: #222;
$color-black-light: #333;

$color-gray-dark: #666;
$color-gray-base: #888;
$color-gray-light: #aaa;

$color-white-dark: #ddd;
$color-white-base: #eee;
$color-white-light: #fff;

$color-error-base: rgb(202, 38, 38);

/** Spacing
*******************************************************************************/
$spacing-xxs: .25rem;
$spacing-xs: .5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2.5rem;
$spacing-xl: 4rem;
$spacing-xxl: 6rem;

/** Typography
*******************************************************************************/
$line-height: 1.2em;

$font-family-display: Acme, sans-serif;
$font-family-header: Montserrat, sans-serif;
$font-family-content: Montserrat, sans-serif;

$font-size-display-1: 7rem;
$font-size-display-2: 6rem;
$font-size-display-3: 5rem;
$font-size-display-4: 4rem;

$font-size-h1: 3.1rem;
$font-size-h2: 2.85rem;
$font-size-h3: 2.45rem;
$font-size-h4: 2.1rem;
$font-size-h5: 1.85rem;
$font-size-h6: 1.5rem;

$font-size-lead: 1.25rem;
$font-size-body: 1rem;
$font-size-small: 0.75rem;

$font-spacing-header: .5rem;
$font-spacing-content: .75rem;

/** Borders
*******************************************************************************/
$border-size-default: .0625rem;
$border-size-thick: .1875rem;

/** Breakpoints
*******************************************************************************/
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$sm-and-up: "screen and (min-width: #{$breakpoint-sm})";
$md-and-up: "screen and (min-width: #{$breakpoint-md})";
$lg-and-up: "screen and (min-width: #{$breakpoint-lg})";
$xl-and-up: "screen and (min-width: #{$breakpoint-xl})";

$scale-base: .85rem;
$scale-sm: .95rem;
$scale-md: 1.05rem;
$scale-lg: 1.125rem;
$scale-xl: 1.125rem;

/** Animations
*******************************************************************************/
$animation-duration-quick: 150ms;
$animation-duration-normal: 250ms;
$animation-duration-slow: 350ms;

$animation-timing: ease;

/** Grid
*******************************************************************************/
$grid-max-width: 80rem;
