@import '../style/config';

* {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: $color-primary-base $color-white-base;
  font-size: $font-size-base;
  color: $color-black-base;
  background-color: $color-white-light;
}
