@import '../../style/config';

.image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0 $spacing-lg;
}

.wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $font-size-lead;
}
