@import '../../style/config';

.small,
.body,
.lead {
  line-height: $line-height;
  margin: 0 0 $font-spacing-content;
  font-family: $font-family-content;

  &:last-child {
    margin-bottom: 0;
  }
}

.small { font-size: $font-size-small; }
.body { font-size: $font-size-body; }
.lead { font-size: $font-size-lead; }

.centered {
  text-align: center
}
