@import '../../style/config';

.wrapper {
  opacity: 0;
  transition-duration: $animation-duration-slow;
  transition-timing-function: $animation-timing;
  transition-property: opacity;
}

.show {
  opacity: 1;
}
