@import '../../style/config';

.header {
  background-color: transparentize($color-white-base, .5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
