@import '../../style/config';
@import '../../style/mixins';

.wrapper {
  margin: $spacing-sm 0;
}

.label {
  position: relative;
  display: block;
}

.labelText {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding-left: $spacing-xs;
  margin: 0;
  cursor: text;
  transition-duration: $animation-duration-normal;
  transition-timing-function: $animation-timing;
  transition-property: top, transform, font-size;

  .label.focused & {
    top: $spacing-xxs;
    transform: none;
    font-size: $font-size-small;
  }
}

.input {
  @include removeBrowserStyleForFocus();

  display: block;
  padding: $spacing-md $spacing-xs $spacing-xs;
  width: 100%;
  border: $border-size-default solid $color-black-base;
  font-family: $font-family-content;
  font-size: $font-size-body;
  color: $color-black-dark;
}

.error {
  color: $color-error-base;
  padding-left: $spacing-xs;
  cursor: default;
  transform: translateY(-20%);
  opacity: 0;

  &.active {
    transition-duration: $animation-duration-normal;
    transition-timing-function: $animation-timing;
    transition-property: transform, opacity;
    transform: none;
    opacity: 1;
    cursor: text;
  }
}
