@import '../../style/config';

$hero-image-url: '/img/hero-image.jpg';

.image {
  background-image: url($hero-image-url);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 0 $spacing-lg;
}

.wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $color-primary-base;
  font-size: $font-size-lead;
}
